*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.profileWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #e7ecf2;
    border-bottom: 1px solid #000;
}
.profile {
    max-width: 250px;
    width: 100%;
    height: 330px;
    box-shadow: 0 1px 3px rgba(191, 205, 222, 0.75);
    background-color: #ffffff;
    border-radius: 5px;
}

.description {
    padding: 31px 30px 30px 30px;
    text-align: center;
}

.avatar {
    width: 99px;
    height: 99px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 30px auto;
}

.name {
    color: #122236;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 11px;
}
.tag {
    color: #768696;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 11px;
}
.location {
    color: #768696;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.stats {
    border-top: 1px solid #e4e9f0;
    background-color: #f3f6f9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1px 3px rgba(191, 205, 222, 0.75);
    border-radius: 0 0 5px 5px;
}
.stats li {
    list-style: none;
    text-align: center;
    border-right: 1px solid #e4e9f0;
    padding: 21px 16px 24px 18px;
    width: 33.33%;
    cursor: pointer;
}
.stats li:last-child {
    border-right: none;
}

.label {
    display: block;
    color: #768696;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 9px;
}

.quantity {
    color: #1f3349;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 900;
}